<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/GameForum1.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" type="image/ico" href="~/favicon.ico">
</head>
<body class="g-0 bg-light">
    <header class="bg-dark">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 g-0">
            <div class="container-fluid">
                <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-brand mx-3">
                    <button class="glowing-btn"><span class="glowing-txt"><a asp-page="/Index">Gamers Paradise</a></span></button>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex align-content-end">
                    <ul class="navbar-nav flex-grow-1 fs-4">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Maincategories">Browse forum</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-page="/Admin/Index">Admin</a>
                            </li>
                        }
                        
                    </ul>
                    <partial class="text-success" name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-0">
            @RenderBody()
        </main>
    </div>
    <!-- Footer-->
    <footer class="fixed-bottom bg-dark text-white text-center">
        <div class="container-fluid">
            <p class="lead">Copyright &copy; Gamers Paradise</p>

        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>