@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');



.headerLink {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

    .headerLink::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: magenta;
        transition: width .3s;
    }
    .headerLink:hover::after {
        width: 100%;
       /* transition: width .3s;*/
    }


.logoutbtn {
    padding: 0.25em 0.5em;
    background-color: transparent;
    color: darkred;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}

    

    .logoutbtn::after {
        content: "Logout";
    }
    .logoutbtn:hover:after {
        content: "DON'T!"
    }
    .logoutbtn:hover {
        background: darkred;
        color: #050801;
        box-shadow: 0 0 5px darkred, 0 0 25px darkred, 0 0 50px darkred, 0 0 200px darkred;
        border: none;
    }

h1, .h1 {
    font-size: calc(2.5rem + 1.5vw);
}

@media (max-width: 1200px) {
    h1, .h1 {
        font-size: 2rem;
    }
}

h5, .h5 {
    font-size: calc(0.7rem + 1.1vw);
}

@media (max-width: 1200px) {
    h5, .h5 {
        font-size: 1.2rem;
    }
}

p, .p {
    font-size: calc(0.8rem + 0.5vw);
}

@media (max-width: 1200px) {
    p, .p {
        font-size: 1rem;
    }
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* position: fixed;
  z-index: 1; */
}

body {
    position: relative;
    padding-bottom: 90px;
    min-height: 100vh;
    font-family: 'VT323', monospace;
    /*font-family: 'DotGothic16', sans-serif;*/
}


a {
    color: inherit;
    text-decoration: none;
}

    a:hover {
        color: inherit;
        text-decoration: none;
    }


:root {
    --glow-color: hsla(328, 100%, 60%, 0.86);
}

.glowing-btn {
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.25em 0.5em;
    border: 0.15em outset var(--glow-color);
    border-radius: 0.4em;
    background: none;
    perspective: 2em;
    
    font-size: 1.7em;
    font-weight: 600;
    letter-spacing: 5px;
    --webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color), 0px 0px 0.5em 0px var(--glow-color);
    --moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color), 0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color), 0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 5s linear infinite ;
}

.glowing-txt {
    float: left;
    --webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    --moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 5s linear infinite;
}

.glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    /*    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);   denna ska bort
*/  background: var(--glow-color);
    pointer-events: none;
}

.glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
}

.glowing-btn:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
}

    .glowing-btn:hover .glowing-txt {
        animation: none;
    }

    .glowing-btn:hover .faulty-letter {
        animation: none;
        text-shadow: none;
        opacity: 1;
    }

    .glowing-btn:hover:before {
        filter: blur(1.5em);
        opacity: 1;
    }

    .glowing-btn:hover:after {
        opacity: 1;
    }

@keyframes faulty-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 0.1;
    }

    4% {
        opacity: 0.5;
    }

    19% {
        opacity: 0.5;
    }

    21% {
        opacity: 0.1;
    }

    23% {
        opacity: 1;
    }

    80% {
        opacity: 0.5;
    }

    83% {
        opacity: 0.4;
    }

    87% {
        opacity: 1;
    }
}

@keyframes text-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    8% {
        opacity: 0.1;
    }

    9% {
        opacity: 1;
    }

    12% {
        opacity: 0.1;
    }

    20% {
        opacity: 1;
    }

    25% {
        opacity: 0.3;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }

    72% {
        opacity: 0.2;
    }

    77% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.9;
    }
}

@keyframes border-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    4% {
        opacity: 0.1;
    }

    8% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .glowing-btn {
        font-size: 1em;
    }
}




























.mygradient {
    background: -webkit-linear-gradient(#31d, #f22);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mygradient2 {
    background: -webkit-linear-gradient(#999, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-image: initial;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

.btn-primary {
    --mdb-btn-bg: #3b71ca;
    --mdb-btn-color: #fff;
    --mdb-btn-box-shadow: 0 4px 9px -4px #3b71ca;
    --mdb-btn-hover-bg: #386bc0;
    --mdb-btn-hover-color: #fff;
    --mdb-btn-focus-bg: #386bc0;
    --mdb-btn-focus-color: #fff;
    --mdb-btn-active-bg: #3566b6;
    --mdb-btn-active-color: #fff;
    --mdb-btn-border-color: #3b71ca;
    --mdb-btn-hover-border-color: #2f5aa2;
    --mdb-btn-focus-shadow-rgb: 88,134,210;
    --mdb-btn-active-border-color: #2c5598;
    --mdb-btn-active-shadow: 0 8px 9px -4px rgba(0,0,0,0.15),0 4px 18px 0 rgba(0,0,0,0.1);
    --mdb-btn-disabled-color: #fff;
    --mdb-btn-disabled-bg: #3b71ca;
    --mdb-btn-disabled-border-color: #3b71ca;
}

.btn {
    --mdb-btn-padding-x: 1.5rem;
    --mdb-btn-padding-y: 0.375rem;
    --mdb-btn-font-size: 1rem;
    --mdb-btn-font-weight: 500;
    --mdb-btn-line-height: 1.5;
    --mdb-btn-color: #4f4f4f;
    --mdb-btn-bg: transparent;
    --mdb-btn-border-width: 2px;
    --mdb-btn-border-color: transparent;
/*    --mdb-btn-hover-border-color: transparent;*/
    --mdb-btn-disabled-opacity: 0.65;
    display: inline-block;
    padding: var(--mdb-btn-padding-y) var(--mdb-btn-padding-x);
    /*font-family: var(--mdb-btn-font-family);*/
    text-transform: uppercase;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: var(--mdb-btn-font-size);
    font-weight: var(--mdb-btn-font-weight);
    line-height: var(--mdb-btn-line-height);
    color: var(--mdb-btn-color);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--mdb-btn-border-width) solid var(--mdb-btn-border-color);
    background-color: var(--mdb-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    --mdb-btn-border-radius: 0.25rem;
    --mdb-btn-padding-top: 0.625rem;
    --mdb-btn-padding-bottom: 0.5rem;
    --mdb-btn-box-shadow: 0 4px 9px -4px rgba(0,0,0,0.35);
/*    --mdb-btn-hover-box-shadow: 0 8px 9px -4px rgba(0,0,0,0.15),0 4px 18px 0 rgba(0,0,0,0.1);
    --mdb-btn-focus-box-shadow: 0 8px 9px -4px rgba(0,0,0,0.15),0 4px 18px 0 rgba(0,0,0,0.1);
    --mdb-btn-active-box-shadow: 0 8px 9px -4px rgba(0,0,0,0.15),0 4px 18px 0 rgba(0,0,0,0.1);*/
    padding-top: var(--mdb-btn-padding-top);
    padding-bottom: var(--mdb-btn-padding-bottom);
    vertical-align: bottom;
    border-radius: var(--mdb-btn-border-radius);
    box-shadow: var(--mdb-btn-box-shadow);
}

    .btn:hover {
        background: magenta;
        color: #050801;
        border: solid 2px magenta;
    }

.card:hover {
    background: #675d6e;
    color: #050801;
    border: none;
}
.cardbig:hover, .cardbiginbox:hover {
    background-color: #303633;
    color: #fff;
    border: none;
}

.commentcard:hover {
    background-color: #7EA2AA;
    color: #fff;
}
    .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
         border: 1px solid magenta;
    }


.commentcard {
    color: #fff;
}


.card {
    flex-direction: row;
    max-width: 60em;
    border: 0;
    background-color: #7EA2AA;
    color: #fff;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
}

.cardcolor {
    flex-direction: row;
    max-width: 60em;
    border: 0;
    background-color: #303633;
    color: #fff;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
}

.cardinbox {
    flex-direction: row;
    max-width: 30em;
    border: 0;
    background-color: #7EA2AA;
    color: #fff;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
}

.cardbig {
    border: 0;
    flex-direction: row;
    max-width: 65em;
    background-color: #303633;
    color: #fff;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
    
}

.cardbigcolor {
    border: 0;
    flex-direction: row;
    max-width: 65em;
    background-color: #7EA2AA;
    color: #fff;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
}

.cardbiginbox {
    border: 0;
    flex-direction: row;
    max-width: 70em;
    background-color: #303633;
    color: #fff;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
}

.card img {
    max-width: 25%;
    margin: auto;
    padding: 0.5em;
    border-radius: 0.7em;
}

.cardbig img {
    max-width: 25%;
    margin: auto;
    padding: 0.5em;
    border-radius: 0.7em;
}

.card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-section {
    max-width: 60%;
}

.cta-section {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.cta-fastbattre {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.cta-section .btn {
    padding: 0.2em 0.5em;
    font-size: 1em;
    color: #696969;
}

.card-text {
    letter-spacing: 0.1em;
}
