@page
@model IndexModel
@inject SignInManager<GameForum1User> signInManager;
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

   
    @if (signInManager.IsSignedIn(User))
    {
        <img src="@Model.ImageSrc"/>
      
    }
    
</div>
