@page
@model GameForum1.Pages.MaincategoriesModel
@inject List<Models.MainCategory> MainCategories
@{

    MainCategories = await DAL.MainCategoryManager.GetMainCategories();
}

<div class="card cardbig my-2 mx-auto">
    <div class="card-body">
        <a href="javascript:history.back()" class="btn bg-light text-dark my-2">Go back</a>
        <div class="my-2 display-6 mx-auto justify-content-between">Maincategories</div>
    </div>
</div>

@foreach (var mainCategory in MainCategories)
{
    <div class="list-group w-75 mx-auto">
        <button type="button" class="list-group-item list-group-item-action btn btn-light bg-light my-1">
            <a asp-page="/Subcategories" asp-route-mainCategoryId="@mainCategory.Id" class="nav-link text-dark">@mainCategory.Name</a>
        </button>
    </div>
}


