@page
@model GameForum1.Pages.MaincategoriesModel
@inject List<Models.MainCategory> MainCategories
@{
    ViewData["Title"] = "Maincategories";
    MainCategories = await DAL.MainCategoryManager.GetMainCategories();
}

<div class="col-10 offset-1">
    <div class="card cardbig my-2 mx-auto">
        <div class="card-body col-12">
            <a href="javascript:history.back()" class="btn bg-light text-black my-2 col-sm-1" style="z-index:2;"><i class="bi bi-caret-left-fill"></i></a>
            <div class="my-auto display-6 col-12 text-center" style="align-self: flex-start; transform:translateX(-8.5%)">Maincategories</div>
        </div>
    </div>
</div>






@foreach (var mainCategory in MainCategories)
{
    <div class="list-group w-75 mx-auto">
        <button type="button" class="list-group-item list-group-item-action btn btn-light bg-light my-1">
            <a asp-page="/Subcategories" asp-route-mainCategoryId="@mainCategory.Id" class="nav-link text-dark">@mainCategory.Name</a>
        </button>
    </div>
}


