@page
@model GameForum1.Pages.MaincategoriesModel
@inject List<Models.MainCategory> MainCategories
@{
    ViewData["Title"] = "Maincategories";
    MainCategories = await DAL.MainCategoryManager.GetMainCategories();
}

<div class="card cardbig my-2 mx-auto">
    <div class="card-body">
        <a href="javascript:history.back()" class="btn bg-light text-dark my-2">Go back</a>
        <div class="my-2 display-6 mx-auto justify-content-between">Maincategories</div>
    </div>
</div>

<div class="col-10 offset-1">
    <div class="card cardbig my-2 mx-auto">
        <div class="card-body">
            <a href="javascript:history.back()" class="btn bg-light text-dark my-2">Go back</a>
            <div class="my-2 display-6 mx-auto justify-content-between">Maincategories2</div>
        </div>
    </div>
</div>

<div class="col-10 offset-1">
    <div class="card cardbig my-2 mx-auto">
        <div class="card-body col-12">
            <a href="javascript:history.back()" class="btn bg-light text-dark my-2 col-lg-2 col-sm-4">Go back</a>
            <div class="my-2 display-6 col-12 text-center" style="align-self: flex-start; transform:translateX(-16.5%)">Maincategories3</div>
        </div>
    </div>
</div>






@foreach (var mainCategory in MainCategories)
{
    <div class="list-group w-75 mx-auto">
        <button type="button" class="list-group-item list-group-item-action btn btn-light bg-light my-1">
            <a asp-page="/Subcategories" asp-route-mainCategoryId="@mainCategory.Id" class="nav-link text-dark">@mainCategory.Name</a>
        </button>
    </div>
}


