@page
@model GameForum1.Pages.SubcategoriesModel
@inject SignInManager<GameForum1User> signInManager
@{
    
}



<div class="card cardbig my-2 mx-auto">
    <div class="card-body">
        <div class="my-2 display-6 mx-auto justify-content-between">@Model.Maincategory.Name subcategories</div>
    </div>
</div>

@*<script>
    document.write('<a class="btn bg-light" href="' + document.referrer + '">Go Back</a>');
</script>*@

@*<button type="button" class="btn bg-light" style="padding:0">
    <a href="javascript:history.back()" class="nav-link bg-light text-dark">Go back</a>
</button>*@

@foreach (var subCategory in Model.SubCategories)
{
    <div class="list-group w-75 mx-auto">
        <button type="button" class="list-group-item list-group-item-action btn btn-light bg-light my-1">
            <a asp-page="/Userthreads" asp-route-subCategoryId="@subCategory.Id" class="nav-link text-dark">@subCategory.Name</a>
        </button>
    </div>
}

