@page
@model GameForum1.Pages.Admin.IndexModel
@{
}

<a asp-page="./MainCategoryAdmin/Index" class="nav-link text-dark" asp-area=""><h3>Manage MainCategory</h3></a>
<a asp-page="./SubCategoryAdmin/Index" class="nav-link text-dark" asp-area=""><h3>Manage SubCategory</h3></a>
<a asp-page="./RoleManager" class="nav-link text-dark" asp-area=""><h3>Manage User Roles</h3></a>